<%- include('../includes/head.ejs') %>
</head>

<body style="/*background: url(&quot;design.jpg&quot;);*/background-position: 0 -60px;">
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2" style="font-size: 40px;color: rgb(25, 245, 170);">Create Password</p>
                    <h2 class="fw-bold" style="font-size: 15px;">Please type the new password&nbsp;</h2>
                    <% if (errorMessage) { %>
                        <div class="alert alert-danger alert-dismissible fade show" style="margin-right: 88px;margin-left: 88px;">
                            <strong>Error!</strong> <%= errorMessage %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    <% } %>
                    <% if (success) { %>
                        <div class="alert alert-success alert-dismissible fade show" style="margin-right: 71px;margin-left: 71px;">
                            <strong>Success!</strong> <%= success %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center" style="margin-top: -28px;">
                            <form method="post" action="/admin-new-password">
                                <div class="mb-3">
									<input class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" type="password" name="password" value="<%= oldInput.password %>" placeholder="Password">
								</div>
                                <div class="mb-3">
									<input class="form-control <%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>" type="password" name="confirmPassword" value="<%= oldInput.confirmPassword %>" placeholder="Confirm Password">
								</div>
                                <input type="hidden" name="userId" value="<%= userId %>">
                                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="mb-3">
                                    <button class="btn btn-primary shadow d-block w-100" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% if (windowclose) { %>
        <script>
                setTimeout(() => {
                    window.close();
                }, "4000")
        </script>
    <% } %>
<%- include('../includes/end.ejs') %>