<%- include('../includes/head.ejs') %>
    </head>

    <body style="/*background: url(&quot;design.jpg&quot;);*/background-position: 0 -60px;">
        <%- include('../includes/user-navigation.ejs') %>
        <section class="py-5">
            <div class="container py-5">
                <div class="row mx-auto" style="/*max-width: 700px;*/">
                    <div class="col mb-sm-0">
                        <div class="row mb-4 mb-lg-5">
                            <div class="col-md-8 col-xl-6 text-center mx-auto">
                                <h1 class="fw-bold">Checkout</h1>
                                <p class="text-muted w-lg-50">You are just there, make the payment and participate in your events!&nbsp;</p>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="padding-top: 37px;margin-top: 0px;">Event Name</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% events.forEach(e => { %>
                                        <tr>
                                            <td><%= e.eventId.title %></td>
                                            <td><%= e.eventId.price %></td>
                                        </tr>
                                    <% }) %>
                                    <tr>
                                        <td class="h4">Total</td>
                                        <td class="h4"><%= totalSum %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h3>*Terms and conditions</h3>
                        <ul>
                          <li><p>The amount once paid will not be refunded</p></li>
                          <li><p>We have all authority on changing time and venue as per the requirement</p></li>
                          <li><p>The coordinators have the authority to take deisions on the events.</p></li>
                        </ul>
                        <form action="/paynow_user" method="post"> 
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn btn-primary mt-sm-5" type="submit">PAY</button>
                        </form>   
                    </div>
                </div>
            </div>
        </section>
        <%- include('../includes/end.ejs') %>