<%- include('../includes/head.ejs') %>
    </head>

    <body style="/*background: url(&quot;design.jpg&quot;);*/background-position: 0 -60px;">
        <%- include('../includes/user-navigation.ejs') %>
        <section class="py-5">
            <div class="container py-5">
                <div class="row mx-auto" style="/*max-width: 700px;*/">
                    <div class="col mb-sm-0">
                        <h1>Checkout</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="padding-top: 37px;margin-top: 0px;">Event Name</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% events.forEach(e => { %>
                                        <tr>
                                            <td><%= e.eventId.title %></td>
                                            <td><%= e.eventId.price %></td>
                                        </tr>
                                    <% }) %>
                                    <tr>
                                        <td class="h4">Total</td>
                                        <td class="h4"><%= totalSum %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <form action="/paynow" method="post"> 
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn btn-primary mt-sm-5" type="submit">PAY</button>
                        </form>   
                    </div>
                </div>
            </div>
        </section>
        <%- include('../includes/end.ejs') %>