<%- include('../includes/head.ejs') %>
<style>
    @media screen and (min-width:992px) {
        .price{
            margin-left: 38px;
            padding-bottom: 7px;
        }
    }
</style>
    </head>

    <body style="/*background: url(&quot;design.jpg&quot;);*/background-position: 0 -60px;">
        <%- include('../includes/user-navigation.ejs') %>
        <section class="pb-5">
            <div class="container py-5">
                <a class="btn btn-primary" href="/events" style="font-size: 20px;margin-bottom: 26px;">Go Back</a>
                <img class="event-details-img img-fluid" src="/<%= event.imageUrl %>" alt="<%= event.title %>" width="1296" height="500">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-lg-flex">
                        <h1><%= event.title %>  </h1>
                        <button class="btn btn-primary btn-success price" type="button">Registration Fee - <%= event.price %></button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="" style="margin-top: 7px;"><span class="h3 pb-1">Description</span></br><%= event.description %></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Venue - <span class="fw-bold"><%= event.venue %></span></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Teacher Coordinator - <span class="fw-bold"><%= event.teacherName %></span></p>
                    </div>
                    <div class="col-md-12">
                        <p>Coordinator PhoneNo. - <span class="fw-bold"><%= event.teacherPhone %></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Student Coordinator - <span class="fw-bold"><%= event.studentName %></span></p>
                    </div>
                    <div class="col-md-12">
                        <p>Coordinator PhoneNo. - <span class="fw-bold"><%= event.studentPhone %></span></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Date: - <%= event.date %></p>
                    </div>
                    <!-- <div class="col-md-6">
                        <p>Time</p>
                    </div> -->
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">Event Brochure - <a href="/event/<%= event.title %>">Brochure link</a></div>
                </div>
            </div>
            
            <div class="container">
                <div class="row">
                    <% if (isAuthenticated) { %>
                        <%- include('../includes/event-detail-register.ejs', {event: event}) %>
                    <% } %>
                </div>
            </div>
        </section>
        <%- include('../includes/end.ejs') %>
